
__pycache__/
*.py[cod]
*$py.class


venv/
.env/
env/


.vscode/
.idea/
*.swp
*.swo

*.log
*.sqlite3

Pipfile
Pipfile.lock
poetry.lock

.ipynb_checkpoints/


*.tmp
*.bak
*.orig
.DS_Store


.coverage
.tox/
nosetests.xml
pytest_cache/


build/
dist/
*.egg-info/
